<section class="banner auto-container clear"></section>
<section class="banner auto-container">
  <div class="banner-tab"
      [class.active]="expandedOptions"
      (click)="expandedOptions = !expandedOptions">
    <div class="radio-icon"></div>
    <div class="banner-tab-title" >
      <span class="subtitle">Радио</span>
      <span>трансляция</span>
    </div>
    <span class="triangle"></span>
  </div>
  <div class="tabs-box">
    <a href="https://www.radiomaria.by/program" target="_blank">
      <img src="/assets/static_files_to_copy/images/icons/maria-radio.svg" alt="radiomaria" class="icon icon-maria-radio" />
      <span class="tab-box-title">
        <span class="name">Радио Мария в Беларуси</span>
        <span class="message">Следите за расписанием на сайте</span>
      </span>
    </a>
  </div>
  <a class="online-toggle-wrapper"
      [class.active]="online"
      (click)="toggleOnlineMasses()"
      href="javascript:void(0)">
      <div class="online-title">
        <span>Мессы online</span>
        <span class="subtitle">видео трансляция</span>
      </div>
      <span class="toggle"></span>
  </a>
</section>
<!--Schedule Section / Style Two-->
<section class="schedule-section style-two">
  <div class="auto-container">
    <!--Schedule Box-->
    <div class="schedule-box clearfix fadeInUp animated">

      <!--Tab Buttons-->
      <ul class="tab-buttons clearfix" id="navbar">
        <li class="tab-btn" [class.active]="(day.date | date: 'dd/MM/yyyy') == (selectedDate | date: 'dd/MM/yyyy') "
            *ngFor="let day of days"
            (click)="onSelect(day.date)">
          <span class="day">{{day.dayName}}</span>
          <span class="date">{{day.humanFormat}}</span>
          <span class="curve"></span>
        </li>
      </ul>

      <!--Tabs Box-->
      <div class="tabs-box" id="tabs-box">

        <!--Tab / Current / Monday-->
        <div class="tab"
              *ngFor="let massDay of masses.schedule"
              [class.current]="(massDay.date | date: 'dd/MM/yyyy') == (selectedDate | date: 'dd/MM/yyyy')"
              [hidden]="!((massDay.date | date: 'dd/MM/yyyy') == (selectedDate | date: 'dd/MM/yyyy'))" >
          <div class="hour-box"
                [class.active-box]="massHour.active" *ngFor="let massHour of massDay.massHours">
            <div class="hour">{{massHour.hour}}</div>
            <div class="img-circle circle"><span></span></div>
            <div class="toggle-btn" [class.active]="massHour.active"
                  (click)="massHour.active = !massHour.active">
              <h3 *ngIf="checkMassesAmount(massHour.data.length)">Святая месса в {{massHour.data.length}} приходе</h3>
              <h3 *ngIf="!checkMassesAmount(massHour.data.length)" >Святая месса в {{massHour.data.length}} приходах</h3>
            </div>
            <div class="content-box row" [class.collapsed]="massHour.active">
              <div class="panel panel-default mass-card"
                    *ngFor="let mass of massHour.data">

                <div class="mass-parish-image-wrapper info">
                  <figure class="img-circle image">
                    <img class="img-circle"
                          [src]="mass.parish.imgPath !== null ? mass.parish.imgPath : '/assets/images/building-in-progress.png'"
                          alt='Мінск, Здымак: {{mass.parish.name}}'>
                  </figure>
                </div>

                <div class="mass-parish-info-wrapper info">
                  <h5 class="mass-parish-name">{{mass.parish.name}}</h5>
                  <h5 class="mass-parish-address">{{mass.parish.address}}</h5>
                  <h6 class="mass-language">Язык: {{mass.langCode}}</h6>
                  <a class="mass-online"
                     href="{{mass.parish.broadcastUrl}}"
                     target="_blank"
                     [class.visible]="mass.online">Мессы online</a>
                </div>

                <div class="mass-parish-additional-info-wrapper info"
                    [class.visible]="mass.info">
                  <h5 class="mass-info">{{mass.info}}</h5>
                </div>

                <div [ngClass]="{'mass-parish-relevance': true, 'not-actual': mass.needUpdate}">
                  <p *ngIf="!needUpdate(mass.needUpdate)"
                      class="placeholder actual">
                    Информация актуальная
                  </p>
                  <p *ngIf="needUpdate(mass.needUpdate)"
                      class="placeholder not-actual">
                    Информация требует уточнений
                  </p>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Tabs Box End-->
    </div>
    <!--Schedule Box End-->

  </div>
</section>

<!--Intro Section-->
<section class="intro-section">
  <div class="auto-container">
    <h2>О проекте</h2>
    <div class="intro-text clearfix">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <p>
            Где и во сколько можно встретиться с Христом в столице Беларуси и как найти актуальное расписание Месс?
            Информация про место и время совершения святой Евхаристии в Минске представлена на сайте www.imsha.by
          </p>
        </div>
        <div class="col-sm-6 col-xs-12">
          <p>
            Здесь вы найдете актуальное расписание латинской римо-католической мессы и византийской греко-католической литургии
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="intro-text-right col-sm-offset-4 col-sm-8 col-xs-12">
        <p> Если вы нашли ошибку, пожалуйста, напишите нам на
          <a href="mailto:byimsha@gmail.com" class="contact-us">byimsha@gmail.com</a>
        </p>
      </div>
    </div>
  </div>
</section>
