@import "./variables";

.main-header-wrapper {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  background: $color-aqua-spring url('/assets/static_files_to_copy/images/header_bg_desktop.png') center no-repeat;
  background-size: cover;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -webkit-box-shadow: 0px 1px 21px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 1px 21px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 21px 0px rgba(0,0,0,0.1);
}

.main-header {
  max-width: 1200px;
  margin: auto;
}

.lang-switcher {
  position: relative;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: flex-end;
  padding-top: 25px;
  margin-right: 15px;

  li {
    display: block;
    font: normal 20px 'Calibri';
    color: $color-black;
    cursor: pointer;
    margin-left: 18px;
    text-transform: uppercase;
    
    &:hover {
      text-decoration: none;
    }
  }

  .active {
    color: $color-advent;
  }
}

.site-name-wrapper {
  margin: 0 auto 82px;
}

.logo-wrapper {
  color: $color-black;
  font: normal 60px/68px $Constantia;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;

  span {
    display: none;
  }

  .visible {
    display: block;
  } 

  img {
    width: 93px;
    margin: 0 8px;
  }
}

.target {
  position: relative;
    
    &:after {
      content: '';
      background: url('/assets/static_files_to_copy/images/star.png') center no-repeat;
      background-size: contain;
      display: block;
      width: 78px;
      height: 35px;
      position: absolute;
      bottom: -3px;
      right: -47px;
  }
}

.logo-title {
  display: block;
  width: auto;
  margin: 0 auto;
}

.logo {
  position: relative;

  &:after {
    content: '';
    display: block;
    width: 160px;
    height: 24px;
    background: url(/assets/static_files_to_copy/images/slogan.png) center no-repeat;
    background-size: contain;
    position: absolute;
    bottom: -30px;
    right: -30px;
  }
}

.location {
  font-size: 22px;
  color: $color-cod-dark;
  margin-left: 15px;

  .city {
    display: none;
    padding: 13px 0;
  }

  .visible {
    display: block;
  }
}

@media only screen and (max-width: 1023px) {
  .main-header .logo {
    max-width: 115px;
  }
}

@media only screen and (max-width: 767px) {
  .main-header-wrapper {
    background: $color-white;
  }

  .logo-wrapper {
    color: $color-black;
    font: normal 36px/44px 'Constantia';
    padding-bottom: 15px;

    img {
      width: 49px;
      margin: 0 5px;
    }
  }

  .lang-switcher {
    padding: 15px 0 15px 0;
    margin-right: 10px;

    .active {
      display: block;
    }
  }

  .site-name-wrapper {
    margin: 0 auto 39px;
  }

  .location,
  .logo-title {
    display: none;
  }

  .logo:after {
    display: none;
  }

  .target:after {
    bottom: -5px;
    right: -49px;
  }
}
