/***

====================================================================
Fonts
====================================================================

 ***/
@font-face {
  font-family: 'open_sansregular';
  src: url('/assets/static_files_to_copy/fonts/openSans.eot');
  src: url('/assets/static_files_to_copy/fonts/openSans.eot?#iefix') format('embedded-opentype'),
  url('/assets/static_files_to_copy/fonts/openSans.woff2') format('woff2'),
  url('/assets/static_files_to_copy/fonts/openSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanssemibold';
  src: url('/assets/static_files_to_copy/fonts/openSansSemiBold.eot');
  src: url('/assets/static_files_to_copy/fonts/openSansSemiBold.eot?#iefix') format('embedded-opentype'),
  url('/assets/static_files_to_copy/fonts/openSansSemiBold.woff2') format('woff2'),
  url('/assets/static_files_to_copy/fonts/openSansSemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('/assets/static_files_to_copy/fonts/fontAwesome-webfont.eot');
  src: url('/assets/static_files_to_copy/fonts/fontAwesome-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fstatic_files_to_copy/onts/fontawesome-webfont.woff2') format('woff2'),
  url('/assets/static_files_to_copy/fonts/fontawesome-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Constantia';
  src: url('/assets/static_files_to_copy/fonts/Constantia.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

$openSans: 'open_sansregular';
$openSansSemiBold: 'open_sanssemibold';
$fontAwesome: 'FontAwesome';
$Constantia: 'Constantia';

/***

====================================================================
Colors
adwent - 5d3e81
xmass - eecb49
====================================================================

 ***/
$color-chambray: #4e5e75;
$color-spindle: #abbdd1;
$color-aqua-spring: #e9ede9;
$color-blue-dianne: #254e5a;
$color-disco: #871266;
$color-rouge: #99367d;
$color-parsley: #256119;
$color-asparagus: #739953;

//red
$color-red: #ab1818;
$color-green: #739953;
$colod-light-green: #7399531a;
$color-advent: #622f9c;
$color-xmass: #f3d245;
$color-envy: #97b198;
$color-gum-leaf: #accbbc;
$color-buff: #f2d389;
$color-hampton: #e7e5aa;
$color-silver-chalice: #a6a6a6;
$color-alto-light: #d0d0d0;
$color-alto2: #d2d2d2;
$color-alto: #dadada;
$color-white: #ffffff;
$color-black: #000000;
$color-cod-gray: #161616;
$color-mine-shaft: #292929;
$color-cod-dark: #020301;
$color-tundora: #454444;
$color-dark-gray: #7f7f7f;

//Main theme variable

$color-main-theme: $color-green;